body {

    background: linear-gradient(135deg, #0d0d1f, #2c2c74);
    color: white;
    scroll-behavior: smooth;
}


#about,
#courses,
#admission,
#contact {
    transition: all 10s ease-in-out;
}


.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.notable {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 3.5rem;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: 'Anton', sans-serif;
}

nav {
    background-color: #121224;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.hero p {
    margin-top: 15px;
}

.btn-primary {
    background-color: #0097C9;
    border: none;
    border-radius: 12px;
    padding: 10px 25px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056d6;
}

.about img {
    max-width: 100%;
    border-radius: 10px;
}

.course-card {
    background-color: #1f1f2e;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
    transition: 0.5s ease;
    width: 255px;
    height: 295px;
    cursor: pointer;
}

.course-card:hover {
    background-color: #00000079;
    transform: translateY(-5px);
}

.admission-step {
    background-color: #f5b600;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

.btn-warning {
    border-radius: 12px;
    padding: 10px 30px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.btn-warning:hover {
    background-color: #d39e00;
    border-color: #c69500;
    color: white;
}

.contact i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.section {
    padding: 200px 20px;
    padding-bottom: 150px;
}

a.nav-link {
    color: white !important;
    font-weight: 500;
}

.course-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 70px;
}

.contact {
    padding-bottom: 400px;
}


/* Mobile Screen */
@media (max-width: 768px) {
    .hero-text {
        display: none;

    }

    .mobile-hero {
        display: block !important;
        font-size: 1.2rem !important;
    }

    .hero {
        padding-left: 0;
        padding-right: 0;
    }

    .section {
        padding-top: 50px;
    }

    .contact {
        padding-bottom: 270px;
    }

    .rubik {
        font-size: 2.5rem;
    }

    .course-card {
        display: inline-flex;
        gap: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 310px;
    }

    .card-section {
        display: inline-flex;
        justify-content: center;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {

    .course-card {
        width: 175px;
        height: 310px;
    }
}